<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onesignal">

    <application>

        <receiver
            android:name="com.onesignal.FCMBroadcastReceiver"
            android:exported="true">
            <!-- High priority so OneSignal payloads can be filtered from other FCM receivers -->
            <intent-filter android:priority="999" >
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
